<h1>Listing places</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Zip</th>
    <th>Picture</th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.address %></td>
    <td><%= place.zip %></td>
    <!-- Das ist ein Kommentar -->
    <td><%= image_tag(place.picture_url, :width => 60) if place.picture.present? %></td>
    <td><%= link_to 'Show', place %></td>
    <td>
      <%= link_to edit_place_path(place), class: 'btn btn-mini' do %>
         <i class="icon-edit"></i> Edit
         <% end %>
      <%= link_to place, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' do %>
         <i class="icon-remove icon-white"></i> Destroy
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path, class: 'btn btn-primary' %>
